<div class='alert alert-info' style='text-align: center'>
  <img src='/img/heart.jpg' alt='CDC heart logo' style='height: 150px; padding-right: 20px' class='hidden-mobile pull-left img-rounded'/>
  <img src='/img/heart.jpg' alt='CDC heart logo' style='height: 150px; padding-left: 20px' class='hidden-mobile pull-right img-rounded'/>
  <h1>
    1st - 7th May: Cri du Chat Awareness Week
  </h1>
  <p>
    The International Cri du Chat awareness week is coming, and it's time to tell the world about
    Cri du Chat and what it means. Host a coffee morning, raise some money, post on your social media feeds,
    call your local radio station, anything!
  </p>
  <p>
    <a href='/events/2016/awareness-week.html' class='btn btn-primary btn-large'>
      Get Involved!
    </a>
  </p>
  <p>
    Here in the UK, the awareness week culminates in our 2016 Family Weekend in Coventry, a chance for families
    to get together, learn from each other, and celebrate our childrens' successes! <a href='/events/2016/family-weekend.html'>Visit the family
    weekend page for more information</a>.
  </p>
</div>