<dt><a href='http://www.justgiving.com/Emma-Sophie-Ryan'>Emma-Sophie Ryan</a></dt>
<dd>London to Brighton Cycle 2014 on September 7th, 2014</dd>
<dt><a href='http://www.justgiving.com/Vicki-Coulson'>Vicki Coulson</a></dt>
<dd>In memory of Barbara Coulson</dd>
<dt><a href='http://www.justgiving.com/jpcunningham'>John-Paul Cunningham</a></dt>
<dd>London to Brighton Cycle on September 7th, 2014</dd>
<dt><a href='http://www.justgiving.com/Kelly-Ann-Moss1'>Kelly-Ann Moss</a></dt>
<dd>London to Brighton Cycle on September 7th, 2014</dd>
<dt><a href='http://www.justgiving.com/Linda-Knutsen'>Linda Knutsen</a></dt>
<dd>London to Brighton on June 15th, 2014</dd>
