<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.5/leaflet.css" />
<script src="http://cdn.leafletjs.com/leaflet-0.7.5/leaflet.js"></script>

<link rel="stylesheet" href="/bower_components/leaflet.markercluster/dist/MarkerCluster.css" />
<link rel="stylesheet" href="/bower_components/leaflet.markercluster/dist/MarkerCluster.Default.css" />
<script src="/bower_components/leaflet.markercluster/dist/leaflet.markercluster.js"></script>
<script src="/bower_components/leaflet.featuregroup.subgroup/leaflet.featuregroup.subgroup.js"></script>
<link rel="stylesheet" href="/bower_components/leaflet.awesome-markers/dist/leaflet.awesome-markers.css" />
<script src="/bower_components/leaflet.awesome-markers/dist/leaflet.awesome-markers.js"></script>


<div class='well'>
  <h2>Families &amp; Supporters</h2>
  <div id="map" style="height: 500px; width: 100%"></div>
  <script>
    var map = L.map('map').setView([ 55.50366, -4], 5);
    L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
      attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap<\/a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA<\/a>, Imagery © <a href="http://mapbox.com">Mapbox<\/a>',
      maxZoom: 13,
      minZoom: 5,
      id: '{{site.mapbox.project_id}}',
      accessToken: '{{site.mapbox.public_key}}'
    }).addTo(map);
    
    var control = L.control.layers(null, null, { collapsed: false });
    
    var familyIcon = L.AwesomeMarkers.icon({
      prefix: "fa",
      icon: 'users',
      markerColor: 'red'
    });
    
    var supporterIcon = L.AwesomeMarkers.icon({
      prefix: "fa",
      icon: 'user',
      markerColor: 'blue'
    });

    var supporterMarkers = [];
    var familyMarkers = [];
    {% for location in site.data.locations %}
      {% if location.cdc == "true" %}
        var m = L.marker([{{location.latitude}}, {{location.longitude}}], {icon: familyIcon});
        m.bindPopup("Family: {{location.postcode}}")
        familyMarkers.push(m);
      {% else %}
        var m = L.marker([{{location.latitude}}, {{location.longitude}}], {icon: supporterIcon});
        m.bindPopup("Supporter: {{location.postcode}}")
        supporterMarkers.push(m);
      {% endif %}
    {% endfor %}
    
    var markerGroup = new L.MarkerClusterGroup({ showCoverageOnHover: false, zoomToBoundsOnClick: true });
    var supporterGroup = L.featureGroup.subGroup(markerGroup, supporterMarkers);
    var familyGroup = L.featureGroup.subGroup(markerGroup, familyMarkers);    
    control.addOverlay(familyGroup, 'Families');
    control.addOverlay(supporterGroup, 'Supporters');
    control.addTo(map);
    markerGroup.addTo(map);
    supporterGroup.addTo(map);
    familyGroup.addTo(map);
    
  </script>
  <p>
    <small>Map shows approximate locations of CDC Support Group families and other supporters. Locations are approximate, using only the first half of each postcode for anonymity.</small>
  </p>
  <p>
    <small>If you think you're missing from our map, email <a href='mailto:james@criduchat.org.uk?subject=CDC map'>james@criduchat.org.uk</a> with your postcode and we'll add you on!</small>
  </p>
</div>