---
title: Committee
description: Cri du Chat Syndrome Support group committee
---

<p>
  The committee have the job of keeping the CdCSSG running. We meet four
  times a year, and have subcommittees for the family weekends, research, website,
  and so on.
</p>
<p>
  We always need new blood, so if you'd like to join the committee, please
  <a href='mailto:office@criduchat.org.uk?subject=committee volunteer'>email office@criduchat.org.uk</a>.
</p>

<div id='committee'>

  {% for person in site.data.committee %}
    <div>
      <img src="/img/committee/{{person.image}}" alt="{{person.name}}">
      <h2>
        {% if person.role %}
          {{person.role}}:
        {% endif %}
        {{person.name}}
      </h2>
      <p>
        "{{person.bio}}"
      </p>
    </div>
  {% endfor %}

</div>
