---
title: Community
description: Details of the Cri du Chat Syndrome Support Group community, online and offline
keywords:
---

<div class='row-fluid'>
  
  <div class='span7'>

    <p>
      Much of the support group's face-to-face contact happens at our family weekends, 
      but we also support local meetups through the rest of the year. If you would like
      to organise one, visit our <a href='/events/index.html'>events</a> page for
      details.
    </p>

    <h2>Facebook</h2>

    <p>
      The easiest way to connect with other families is on Facebook.
    </p>

    <p>
      Most conversation happens on our own discussion group.
      It's very friendly, and people are always willing to help out with support or 
      advice.
    </p>

    <p>
      {% include facebook_group.html %}
    </p>
    
  </div>
  
  <div class='span5'>
    {% include map.html %}
  </div>

</div>