@font-face {
  font-family: "Transport New Light";
  src: url(/font/TransportNewLight.otf);
}

@media (min-width: 768px) {
  .homepage-row p {
    min-height: 5em;
  }  
}

.homepage-row div.alert-info {
  padding: 19px;
}

.hero-unit {
  background: url(/img/header.jpg);
  color: white;
  background-position: center center;
}

a#logo img {
  margin-bottom: 20px;
}

a#donate {
  margin-top: 30px;
  margin-right: 20px;
}