---
layout: default
---

<div class="row-fluid">
  <div class="span3">
    <div class="well sidebar-nav">
      <ul class="nav nav-list">
        <li{% if page.url == "/about/index.html" %} class="active"{% endif %}>
          <a href="/about/index.html">About Us</a>
        </li>
        <li{% if page.url == "/about/news.html" %} class="active"{% endif %}>
          <a href="/about/news.html">News</a>
        </li>
        <li{% if page.url == "/about/membership.html" %} class="active"{% endif %}>
          <a href="/about/membership.html">Membership</a>
        </li>
        <li{% if page.url == "/about/committee.html" %} class="active"{% endif %}>
          <a href="/about/committee.html">Committee</a>
        </li>
        <li{% if page.url == "/about/contact.html" %} class="active"{% endif %}>
          <a href="/about/contact.html">Contact Us</a>
        </li>
      </ul>
    </div><!--/.well -->
  </div><!--/span-->
                
  <div class='span9'>
    <h1>{{page.title}}</h1>
    {{ content }}
  </div>
</div>