---
layout: default
---

<div class="row-fluid">
  <div class="span3">
    <div class="well sidebar-nav">
      <ul class="nav nav-list">
        <li{% if page.url == "/community/index.html" %} class="active"{% endif %}>
          <a href="/community/index.html">Community</a>
        </li>
        <li{% if page.url == "/community/events.html" %} class="active"{% endif %}>
          <a href="/community/events.html">Events</a>
        </li>
        <li{% if page.url == "/community/global.html" %} class="active"{% endif %}>
          <a href="/community/global.html">Global</a>
        </li>
      </ul>
    </div><!--/.well -->
  </div><!--/span-->
                
  <div class='span9'>
    <h2>{{page.title}}</h2>
    {{ content }}
  </div>
</div>