---
layout: default
---

<div class="row-fluid">
  <div class="span3">
    <div class="well sidebar-nav">
      <ul class="nav nav-list">
        <li{% if page.url == "/conferences/index.html" %} class="active"{% endif %}>
          <a href="/conferences/index.html">Conferences</a>
        </li>
        <li class='nav-header'>Conference 2013</li>
        <li{% if page.url == "/conferences/2013/index.html" %} class="active"{% endif %}>
          <a href="/conferences/2013/index.html">Information</a>
        </li>
        <li{% if page.url == "/conferences/2013/venue.html" %} class="active"{% endif %}>
          <a href="/conferences/2013/venue.html">Venue</a>
        </li>
        <li{% if page.url == "/conferences/2013/programme.html" %} class="active"{% endif %}>
          <a href="/conferences/2013/programme.html">Programme</a>
        </li>
      </ul>
    </div><!--/.well -->
  </div><!--/span-->
                
  <div class='span9'>
    <h1>{{page.title}}</h1>
    {{ content }}
  </div>
</div>