<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="description" content="CdCS Test Page : Trying things out..." />
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap-responsive.css">
    <link rel="stylesheet" href="/stylesheets/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/cookiecuttr.css">
    <link href="/img/favicon.png" rel="icon">
    <link rel="alternate" type="application/atom+xml" title="CdCSSG News Feed" href="/about/news.atom" />
    <meta name='viewport' content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>{{ page.title }}</title>
  </head>

  <body>

    <div class="container-fluid">
    
      <div class='row-fluid'>
        <a id='donate' class='btn btn-primary btn-large pull-right' href='/fundraising/donate.html'>Donate Now! &raquo;</a>
        <div class='pull-left'><a id='logo' href="/"><img src='/img/logo.png' alt='CdCSSG Logo'></a></div>
        <div class='tagline hidden-phone'>Supporting people with Cri du Chat Syndrome and their families</div>
      </div>
      <div class="navbar">
        <div class="navbar-inner">
          <div class="container-fluid">
            <ul class="nav">
              <li{% if page.group == 'start_here' %} class='active'{% endif %}>
                <a href="/start_here/index.html">New Families</a>
              </li>
              <li{% if page.group == 'information' %} class='active'{% endif %}>
                <a href="/information/index.html">Information</a>
              </li>
            </ul>
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <i class='icon-chevron-down' style='color: black'></i>
            </a>
            <div class="nav-collapse collapse">
              <ul class="nav">
                <li{% if page.group == 'familyweekends' %} class='active'{% endif %}>
                  <a href="/family-weekends/index.html">Family Weekends</a>
                </li>
                <li{% if page.group == 'fundraising' %} class='active'{% endif %}>
                  <a href="/fundraising/index.html">Fundraising</a>
                </li>
                <li{% if page.group == 'community' %} class='active'{% endif %}>
                  <a href="/community/index.html">Community</a>
                </li>
                <li{% if page.group == 'about' %} class='active'{% endif %}>
                  <a href="/about/index.html">About Us</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      {{ content }}

      <footer class='row-fluid'>
        <small>
          <div class='span4'>
            <h5>About this site:</h5>
            <ul class='unstyled'>
              <li><a href='/about/privacy.html'>Privacy policy</a></li>
              <li><a href='/about/terms.html'>Terms &amp; conditions</a></li>
              <li><a href='/about/colophon.html'>Colophon</a></li>
            </ul>
            <ul class='unstyled'>
              <li>&copy; 2013 CdCSSG</li>
            </ul>
          </div>
          <div class='span4'>
            <h5>Follow us:</h5>
            <ul class='unstyled'>
              <li><i class='icon icon-facebook'></i> <a href='https://www.facebook.com/groups/cdcssguk/'>Facebook</a></li>
              <li><i class='icon icon-twitter'></i> <a href='https://twitter.com/cdcssguk'>Twitter</a></li>
            </ul>
          </div>
          <div class='span4'>
            <h5>About us:</h5>
            <address>
              Cri du Chat Syndrome Support Group,<br/>
              PO Box 3408, Norwich, NR3 3WE
            </address>
            <ul class='unstyled'>
              <li>UK Reg. Charity <a href='http://www.charitycommission.gov.uk/Showcharity/RegisterOfCharities/CharityWithoutPartB.aspx?RegisteredCharityNumber=1044942&SubsidiaryNumber=0'>#1044942</a></li>
            </ul>
            <p></p>
          </div>
        </small>
      </footer>

    </div>
            
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/main.js"></script>
    <script src="/javascripts/jquery.cookie.js"></script>
    <script src="/javascripts/jquery.cookiecuttr.js"></script>

    <script>
      if (jQuery.cookie('cc_cookie_accept') == "cc_cookie_accept") {
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-27090658-1']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document. getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
      }
      $(document).ready(function () { 
        $.cookieCuttr({
          cookieAnalytics: false,
          cookieMessage: 'We use <a href="/about/privacy.html">cookies</a> to count our visitors. Do you mind? ',
          cookieDeclineButton: true,
          cookieDomain: "criduchat.org.uk"
        });
      }); 
    </script>
    
  </body>
</html>