<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="description" content="CDC Test Page : Trying things out..." />
    <link href="/stylesheets/bootstrap.css" rel="stylesheet">
    <link href="/stylesheets/bootstrap-responsive.css" rel="stylesheet">
    <link href="/stylesheets/main.css" rel="stylesheet">
    <meta name='viewport' content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>{{ page.title }}</title>
  </head>

  <body>

    <div class="container-fluid">
    
      <div class='row-fluid'>
        <a id='donate' class='btn btn-primary btn-large pull-right' href='/donate.html'>Donate Now! &raquo;</a>
        <a id='logo' href="/"><img src='/img/logo.jpg' alt-'CDCSSG Logo'></a> 
        Supporting people with Cri du Chat syndrome and their families 
      </div>
      <div class="navbar">
        <div class="navbar-inner">
          <div class="container-fluid">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </a>
            <div class="nav-collapse collapse">
              <ul class="nav">
                <li class='active'>
                  <a href="/start_here/index.html">New Families</a>
                </li>
                <li>
                  <a href="/syndrome/index.html">About CdC Syndrome</a>
                </li>
                <li>
                  <a href="/fundraising/index.html">Fundraising</a>
                </li>
                <li>
                  <a href="/community/index.html">Community</a>
                </li>
                <li>
                  <a href="/about/index.html">About Us</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      {{ content }}

      <footer>
        <div class='span4'>
          <ul>
            <li>Boring</li>
            <li>housekeeping</li>
            <li>links</li>
          </ul>
        </div>
        <div class='span4'>
          <ul>
            <li>Exciting</li>
            <li>social media</li>
            <li>links</li>
          </ul>
        </div>
        <div class='span4'>
          <p>&copy; CDCSSG 2012</p>
        </div>
      </footer>

    </div>
            
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/main.js"></script>
  </body>
</html>