---
layout: default
---

<div class="row-fluid">
  <div class="span3">
    <div class="well sidebar-nav">
      <ul class="nav nav-list">
        <li{% if page.url == "/family-weekends/index.html" %} class="active"{% endif %}>
          <a href="/family-weekends/index.html">Family Weekends</a>
        </li>
        <li class='nav-header'>Family Weekend 2014</li>
        <li{% if page.url == "/family-weekends/2014/index.html" %} class="active"{% endif %}>
          <a href="/family-weekends/2014/index.html">Information</a>
        </li>
        <li{% if page.url == "/family-weekends/2014/venue.html" %} class="active"{% endif %}>
          <a href="/family-weekends/2014/venue.html">Venue</a>
        </li>
        <li{% if page.url == "/family-weekends/2014/programme.html" %} class="active"{% endif %}>
          <a href="/family-weekends/2014/programme.html">Programme</a>
        </li>
        <li class='nav-header'>Family Weekend 2013</li>
        <li{% if page.url == "/family-weekends/2013/index.html" %} class="active"{% endif %}>
          <a href="/family-weekends/2013/index.html">Information</a>
        </li>
        <li{% if page.url == "/family-weekends/2013/venue.html" %} class="active"{% endif %}>
          <a href="/family-weekends/2013/venue.html">Venue</a>
        </li>
        <li{% if page.url == "/family-weekends/2013/programme.html" %} class="active"{% endif %}>
          <a href="/family-weekends/2013/programme.html">Programme</a>
        </li>
        <li class='nav-header'>Family Weekend 2012</li>
        <li{% if page.url == "/family-weekends/2012/index.html" %} class="active"{% endif %}>
          <a href="/family-weekends/2012/index.html">Information</a>
        </li>
      </ul>
    </div><!--/.well -->
  </div><!--/span-->

  <div class='span9'>
    <h1>{{page.title}}</h1>
    {{ content }}
  </div>
</div>
