---
layout: default
---

<div class="row-fluid">
  <div class="span3">
    <div class="well sidebar-nav">
      <ul class="nav nav-list">
        <li{% if page.url == "/fundraising/donate.html" %} class="active"{% endif %}>
          <a href="/fundraising/donate.html">Donate</a>
        </li>
        <li{% if page.url == "/fundraising/5p-for-5p.html" %} class="active"{% endif %}>
          <a href="/fundraising/5p-for-5p.html">5p for 5p</a>
        </li>
      </ul>
    </div><!--/.well -->
  </div><!--/span-->
                
  <div class='span9'>
    <h2>{{page.title}}</h2>
    {{ content }}
  </div>
</div>