---
layout: default
---

<div class="row-fluid">
  <div class="span3">
    <div class="well sidebar-nav">
      <ul class="nav nav-list">
        <li{% if page.url == "/information/index.html" %} class="active"{% endif %}>
          <a href="/information/index.html">Information</a>
        </li>
        <li class='nav-header'>Signposts</li>
        <li{% if page.url == "/information/signposts/diagnosis.html" %} class="active"{% endif %}>
          <a href="/information/signposts/diagnosis.html">Diagnosis</a>
        </li>
        <li{% if page.url == "/information/signposts/treatment.html" %} class="active"{% endif %}>
          <a href="/information/signposts/treatment.html">Treatment</a>
        </li>
        <li{% if page.url == "/information/signposts/under_2.html" %} class="active"{% endif %}>
          <a href="/information/signposts/under_2.html">Children Under 2</a>
        </li>
        <li{% if page.url == "/information/signposts/over_2.html" %} class="active"{% endif %}>
          <a href="/information/signposts/over_2.html">Children Over 2</a>
        </li>
        <li class='nav-header'>Common Problems</li>
        <li{% if page.url == "/information/problems/reflux.html" %} class="active"{% endif %}>
          <a href="/information/problems/reflux.html">Reflux</a>
        </li>
        <li{% if page.url == "/information/problems/dribbling.html" %} class="active"{% endif %}>
          <a href="/information/problems/dribbling.html">Dribbling</a>
        </li>
        <li{% if page.url == "/information/problems/sleeping.html" %} class="active"{% endif %}>
          <a href="/information/problems/sleeping.html">Sleeplessness</a>
        </li>
        <li{% if page.url == "/information/problems/behavioural.html" %} class="active"{% endif %}>
          <a href="/information/problems/behavioural.html">Behavioural Problems</a>
        </li>
        <li class='nav-header'>Therapies</li>
        <li{% if page.url == "/information/therapies/therapies.html" %} class="active"{% endif %}>
          <a href="/information/therapies/therapies.html">Therapies</a>
        </li>
        <li class='nav-header'>Social</li>
        <li{% if page.url == "/information/social/education.html" %} class="active"{% endif %}>
          <a href="/information/social/education.html">Education</a>
        </li>
        <li{% if page.url == "/information/social/carers.html" %} class="active"{% endif %}>
          <a href="/information/social/carers.html">Help for Carers</a>
        </li>
        <li{% if page.url == "/information/social/transition.html" %} class="active"{% endif %}>
          <a href="/information/social/transition.html">Transition to Adulthood</a>
        </li>
        <li{% if page.url == "/information/social/travel.html" %} class="active"{% endif %}>
          <a href="/information/social/travel.html">Travel</a>
        </li>
        <li{% if page.url == "/information/social/housing.html" %} class="active"{% endif %}>
          <a href="/information/social/housing.html">Housing</a>
        </li>
        <li{% if page.url == "/information/social/wheelchairs.html" %} class="active"{% endif %}>
          <a href="/information/social/wheelchairs.html">Wheelchairs</a>
        </li>
        <li class='nav-header'>Financial</li>
        <li{% if page.url == "/information/financial/insurance.html" %} class="active"{% endif %}>
          <a href="/information/financial/insurance.html">Insurance</a>
        </li>
        <li{% if page.url == "/information/financial/financial_help.html" %} class="active"{% endif %}>
          <a href="/information/financial/financial_help.html">Financial Help</a>
        </li>
        <li{% if page.url == "/information/financial/wills.html" %} class="active"{% endif %}>
          <a href="/information/financial/wills.html">Wills &amp; Trusts</a>
        </li>
        <li class='nav-header'>Advice</li>
        <li{% if page.url == "/information/cag.html" %} class="active"{% endif %}>
          <a href="/information/cag.html">Clinical Advisory Group</a>
        </li>
      </ul>
    </div><!--/.well -->
  </div><!--/span-->
                
  <div class='span9'>
    <h2>{{page.title}}</h2>
    {{ content }}
  </div>
</div>