---
layout: default
---

<div class="row-fluid">
  <div class="span3">
    <div class="well sidebar-nav">
      <ul class="nav nav-list">
        <li{% if page.url == "/syndrome/index.html" %} class="active"{% endif %}>
          <a href="/syndrome/index.html">About CdC Syndrome</a>
        </li>
        <li class='nav-header'>Medical</li>
        <li class='nav-header'>Social</li>
        <li class='nav-header'>More Information</li>
        <li{% if page.url == "/syndrome/cag.html" %} class="active"{% endif %}>
          <a href="/syndrome/cag.html">Clinical advice</a>
        </li>
        <li{% if page.url == "/syndrome/references.html" %} class="active"{% endif %}>
          <a href="/syndrome/references.html">References</a>
        </li>
      </ul>
    </div><!--/.well -->
  </div><!--/span-->
                
  <div class='span9'>
    <h2>{{page.title}}</h2>
    {{ content }}
  </div>
</div>